body{
    background-image: url("wallpaper_home.jpg");
    background-size: cover;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 100%;
   background-color: black ;
   font-weight: 700;
   transition-duration: 1.5s;
   opacity: 0.8;
   color: yellow;
}
button:hover{
    height: 110px;
    width: 110px;
    border-radius: 100%;
   background-color: black ;
   font-weight: 900;
   opacity: 1;
   color: yellow;
}
