<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylehome.css" >
</head>
<body>
    <h2>total number of users are: <%= count %> </h2>
    <a href="http://localhost:8080/new"><button>join us</button></a>
    <a href="http://localhost:8080/user"><button>Our users</button></a>
</body>
</html>