<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update your Info</title>
    <link rel="stylesheet" href=" http://localhost:8080/style2.css">
</head>
<body>
    <h1>update your details</h1>
     <form method="post" action="/show/<%= user.username %>?_method=PATCH" class="middle" >    
         <label for="current_username">Username</label>
         <textarea for="current_username" id="current_username" name="current_username" ><%= user.username %></textarea><br>
         <label for="current_email">Username</label>
         <textarea for="current_email" id="current_email" name="current_email" ><%= user.email %></textarea><br>
         <label for="password">password</label><br>
        <input type="password" id="password" name="password">
        <button>Update</button>
    </form>
</body>
</html>


